{% extends "base.html" %}

<!-- Form rendering code for template -->
{% block content %}
<style>
    .errorlist {
    color: red;
    }

</style>
<div class="row">
    <div class="empty-space">&nbsp;</div>
</div>
<div class="row">
    <div class="empty-space">&nbsp;</div>
</div>
<div class="row">
    <div class="empty-space">&nbsp;</div>
</div>
<div class="row">
    <!--{% if form.errors %}-->
    <!--<p style="color: red;">-->
        <!--Please correct the error{{ form.errors|pluralize }} below.-->
    <!--</p>-->
    <!--{% endif %}-->
    <div class="col-lg-6 " data-animation-delay="1200">
        <div>
            <form action="" method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <button type="button submit" class="btn btn-success">Submit</button>

            </form>
        </div>

    </div>

</div>

<!--{%for field in form %}-->
  <!--<div class="form-group {%if field.errors %}has-error{%endif%}">-->
    <!--{# render your field #}-->
  <!--</div>-->
<!--{% endfor %}-->

{% endblock %}
