{% load staticfiles %}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon-32x32.png' %}" sizes="32x32">

    <title>Bikesbook</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" media="all">

    <!-- uikit -->
    <link rel="stylesheet" href="{% static 'bower_components/uikit/css/uikit.almost-flat.min.css' %}" media="all">

    <!-- altair landing page -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" media="all">

    <script src='https://www.google.com/recaptcha/api.js'></script>


    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="{% static 'bower_components/matchMedia/matchMedia.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/matchMedia/matchMedia.addListener.js' %}"></script>
    <![endif]-->
</head>
<body id="sec-home">
    <!-- navigation -->
    <header id="header_main">
        <nav class="uk-navbar">
            <div class="uk-container uk-container-center header-menu">
                <a href="'#" class="uk-float-left" id="mobile_navigation_toggle" data-uk-offcanvas="{target:'#mobile_navigation'}"><i class="material-icons">&#xE5D2;</i></a>
                <a href="/" class="uk-navbar-brand">
                    <img src="{% static 'assets/img/logo.png' %}" alt="logo" width="150" height="45">
                </a>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav" id="main_navigation">
                        <li class="home-page">
                            <a href="/">
                                <i class="fa fa-home fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="mobile_navigation" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul>
                <li>
                    <a href="{% static '#sec-home" data-uk-smooth-scroll="{offset: 48}"' %}">
                        <span class="menu_icon"><i class="fa fa-home fa-lg"></i></span>
                        <span class="menu_title" style="visibility: hidden;">Home</span>
                    </a>
                </li>
                <hr class="uk-grid-divider">
                <li>
                    <a href="{% static '#sec-about" data-uk-smooth-scroll="{offset: 48}"' %}">
                        <span class="menu_icon"><i class="fa fa-list" aria-hidden="true"></i></span>
                        <span class="menu_title">About US</span>
                    </a>
                </li>
                <hr class="uk-grid-divider">
                <li>
                    <a href="{% static '#sec-gallery" data-uk-smooth-scroll="{offset: 48}"' %}">
                        <span class="menu_icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                        <span class="menu_title">APP SCREENS</span>
                    </a>
                </li>
                <hr class="uk-grid-divider">
                <li>
                    <a href="{% static '#sec-faq" data-uk-smooth-scroll="{offset: 48}"' %}">
                        <span class="menu_icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                        <span class="menu_title">Faq</span>
                    </a>
                </li>
                <hr class="uk-grid-divider">
                <li>
                    <a href="{% static '#sec-news" data-uk-smooth-scroll="{offset: 48}"' %}">
                        <span class="menu_icon"><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
                        <span class="menu_title">Our News</span>
                    </a>
                </li>
                <hr class="uk-grid-divider">
                <li>
                    <a href="{% static '#sec-kickstarter" data-uk-smooth-scroll="{offset: 48}"' %}">
                        <span class="menu_icon"><img src="{% static 'assets/img/support.png' %}" alt="" width="17" height="17"></span>
                        <span class="menu_title">On Kickstarter</span>
                    </a>
                </li>
                <hr class="uk-grid-divider">
                <li>
                    <a href="{% static '#sec-contact" data-uk-smooth-scroll="{offset: 48}"' %}">
                        <span class="menu_icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="menu_title">Contact</span>
                    </a>
                </li>
                <hr class="uk-grid-divider">
                <li>
                    <a href="{% static '#sec-subscribe" data-uk-smooth-scroll="{offset: 48}"' %}">
                        <button class="md-btn uk-navbar-flip header_cta btn-custom-light">Subscribe</button>
                    </a>
                </li>
                <li>
                    <a href="{% static '#" data-uk-smooth-scroll="{offset: 48}"' %}">
                        <img src="{% static 'assets/img/google-play-badge.png' %}" alt="google-play-download" width="117" height="37" class="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="single-page">
        <br/>
    <h3>Privay Policy</h3>

    <p>
        This Privacy Policy describes Bikesbook™'s policies and procedures on the collection, use and disclosure of your information. When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy.
    </p>

    <h3>INFORMATION COLLECTED</h3>

    <p>
        When you create an account, you provide some personal information, such as your name, email address, gender and username. You may provide us with additional information and content while using our Services that contain your personal information, such as your location or a picture. Some of this information, such as your name and username, is listed publicly on our Services, including on your profile page and in search results. The majority of our Services are visible to the public and do not require registration to be viewed.
    </p>

    <h3>
        COOKIES
    </h3>

    <p>
        We use "cookies" to make Bikesbook™ easier to use and to help improve our Services. A cookie is used by many websites and is a small data file stored for a period of time on your computer. Cookies help us to understand how you interact with Bikesbook™ and are also used to store your username (but never your password) to make it easier for you to login whenever you come back to Bikesbook™.

    </p>

    <h3>
        LOG DATA
    </h3>

    <p>
        Our servers automatically record information created by your use of our Services, such as your IP address, browser type, pages visited, interactions with advertisements and search terms.
    </p>

    <h3>
        LINKS
    </h3>

    <p>
       When you click on a link on Bikesbook™ you may leave our site. We are not responsible for the privacy practices of other sites.
    </p>

    <h3>
        THIRD PARTY SERVICES AND PROVIDERS
    </h3>

    <p>
        We use a variety of services hosted by third parties and engage certain third party service providers to help provide our Services. These services may collect information sent by your browser as part of a web page request, such as cookies or your IP request and we may share your personal information with these service providers, but only to the extent necessary to perform their services.
    </p>

    <h3>
        VIEWING AND EDITING YOUR PROFILE
    </h3>

    <p>
        If you are a registered user of Bikesbook™, we provide you with the ability to access and modify the personal information you provided to us.
    </p>

    <h3>
        INFORMATION SHARING
    </h3>

    <p>
        We do not disclose your private information except in the limited circumstances outlined in this Privacy Policy.
    </p>

    <h3>
        LAW AND HARM
    </h3>

    <p>
        We may disclose your information if we believe that it is necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Bikesbook™'s rights or property.
    </p>

    <h3>
        BUSINESS TRANSFERS
    </h3>

    <p>
        In the event that Bikesbook™ is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The rights outlined in the Privacy Policy will continue to apply to your information as transferred to the new entity.
    </p>

    <h3>
        NON-PRIVATE OR NON-PERSONAL INFORMATION
    </h3>

    <p>
        We may disclose your non-private, aggregated or otherwise non-personal information.
    </p>

    <h3>
        CHILDREN UNDER 13
    </h3>

    <p>
        Our Services are not directed to people under the age of 13. We do not knowingly collect personal information from children under 13. If we learn that we have collected personal information from a child under age 13, we take steps to remove such information as quickly as possible. If you believe that we may have any information from a child under 13, please contact us at <a>feedback@bikesbook.bike</a>.
    </p>

    <h3>
        CHANGES TO THIS POLICY
    </h3>

    <p>
        We may revise this Privacy Policy from time to time. The most current version of the Policy will govern our use of your information and will always be at <a href="/privacy">https://bikesbook.bike/privacy</a>. If we make a change to this Policy that, in our sole discretion, is material, we will notify you by email to the email address associated with your account at that time. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.

    </p>
     <br/>
    <p>
        If you have any questions or comments about this Privacy Policy, please contact us at <a>feedback@bikesbook.bike</a>

    </p>
         <br/> <br/>
</div>

    <section class="section section_dark" id="footer">
        <div class="uk-container uk-container-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-3-5 uk-text-center-medium">
                    Copyright &copy; 2017 <span>Bikesbook</span>, All rights reserved.
                </div>
                <div class="uk-width-medium-2-5">
                    <div class="uk-align-medium-right uk-text-center-medium">
                        <a href="https://www.facebook.com/bikesbook/" class="uk-margin-medium-right">
                            <i class="fa fa-facebook uk-icon-small md-color-white"></i>
                        </a>
                        <a href="https://twitter.com/bikesbook2016" class="uk-margin-medium-right">
                            <i class="fa fa-twitter uk-icon-small md-color-white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Select Country In Register From -->
    <script>
        function changeMe(sel)
        {
          sel.style.color = "#000";
        }
    </script>
    <script>
        var checkCaptcha;
        function login_captcha()
        {
            console.log("captcha");
            $("#demo").empty();
            //checkCaptcha = true;
            if(checkCaptcha) {
                $("#submitBtn").click();
            }
            else {
                console.log("insert captcha");
                $("#demo").append('<div class="parsley-errors-list filled" id="parsley-id-5"><span class="parsley-type">Insert Captcha to Send.</span></div>');
            }
        }
        function recaptchaCallback() {
            //alert("callback working");
            checkCaptcha = true;
            $("#demo").empty();
        };
        $(document).ready(function(){
            var checkCaptcha = false;
            $("#demo").empty();
        });
    </script>
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:300,400,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <!-- common functions -->
    <script src="{% static 'assets/js/common.min.js' %}"></script>
    <!-- uikit functions -->
    <script src="{% static 'assets/js/uikit_custom.min.js' %}"></script>
    <!-- altair common functions/helpers -->
    <script src="{% static 'assets/js/altair_lp_common.js' %}"></script>
    <!-- google recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>